doctype html
html(lang='en', ng-app='store')
  head
    meta(charset="utf-8")
    title Untitled


    link(rel="stylesheet", type="text/css", href="navbar/css/normalize.css")
    link(href='http://fonts.googleapis.com/css?family=Rye', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="navbar/css/component.css")
    link(rel="stylesheet", href="navbar/css/demo.css")
    link(rel="stylesheet", href="navbar/css/icons.css")
    link(rel='stylesheet', type='text/css', href='css/main.css')
    script(src="navbar/js/modernizr.custom.js")

  body
    
    div(id='st-container',class='st-container st-effect-11')
      nav(class='st-menu st-effect-11', id='menu-11') 
        h2(class="icon icon-lab") SideBar
        ul
          li
            a(class="icon icon-wallet", href="#") Home
          li 
            a(class="icon icon-data", href="#") About  
          li
            a(class="icon icon-location", href='#') Queue
          li
            a(class="icon icon-study", href="#") Portfolio
          li
            a(class="icon icon-photo", href="#") Shop
      div(class='st-pusher')
        div(class='st-content')
          div(class='st-content-inner')
            h1 SO MUCH CONTENT
            p div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem neque autem molestias doloribus doloremque veniam est ducimus aliquid provident. Quo eius quisquam repudiandae quod dolor magnam. Officiis, quibusdam nemo totam! Illum cumque illo asperiores atque nihil mollitia aliquid quas, temporibus, quam quasi ratione reiciendis animi deserunt inventore delectus sed! Rem illo, laboriosam consectetur. Optio ea architecto, aliquam blanditiis repellat reprehenderit?

          div(id="st-trigger-effects")
            button(data-effect="st-effect-11") Scale &amp; rotate pusher

        div(ng-view)


    //- script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular.min.js')
    //- script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-route.js')
    //- script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.3/angular-resource.js')
    script(type='text/javascript', src="navbar/js/classie.js")
    script(type='text/javascript', src="navbar/js/sidebarEffects.js")
    //- script(type='text/javascript', src='js/main.js')