
/*===========================================================================*/
                        /* ~~~ Utility ~~~ */ 
/*===========================================================================*/
  .align-left {
      left: 10px;
  }

  
  /*==============================  temporary  =============================*/
  #st-container {
    min-height: 500px;
  }
          
  body {
      background-color: #D1D9ED;
      font-family: "Lato", sans-serif;
      font-weight: 500;
      text-align: center;
      min-height: 500px;
      font-size: 1.2em;
  }
  
  h1,h2,h3,h4,h5,h6 {
    font-family: "Rye", sans-serif;
  }

  .big-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

  .content-wrapper {
    border: 3px solid black;
    border-radius: 10px;
    margin: 1em;
    margin: 0 auto;
    max-width: 1200px;
  }

  .main-container {
    text-align: center;
    background-color: #D1D9ED;
  }

  .landing-border-accent {
      border-right: 2px solid #CCDDE4;
      border-left: 2px solid #CCDDE4;
      box-shadow: 0px 0px 2px 3px rgba(239, 136, 73, 0.5);
  }

  .background-img {
      position: fixed; 
      top: 0; 
      left: 0; 
      min-width: 100%;
      min-height: 100%;
      z-index: -10;
  }

  .cart-btn {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
  }

  .checkout-anchor {
  }

  .queue-font {
      color: #CCDDE4;
  }

  .block {
    display: block;
  }

  .clearfix {
      overflow: auto;
      z-index: 10;
  }

  .line-break {
      border: 1px solid #E1B651;
  }

  .border-rad {
      border-radius: 5px;
  }

  .relative {
      position: relative;
  }

  .horiz-center {
      left: 50%;
      transform: translateX(-50%); 
  }

  .vert-center {
      top: 50%;
      transform: translateY(-50%);
  }
  .abs-horiz-center {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
  }

  .abs-vert-center {
      position: absolute;
      top:50%;
      transform: translateY(-50%);
  }

  .txt-center {
      text-align: center;
  }

  .absolute {
      position: absolute;
  }
  
  .inline-block {
      display: inline-block;
  }

  .page-break {
      border: 1px solid #CCDDE4;
      box-shadow: 0px 0px 2px 3px rgba(239, 136, 73, 0.5);
      width: 100%;
  }

  .spacer {
      height: 200px;
  }

  .spacer-small {
      height: 50px;
  }

  .menu-tog-btn {
    border-radius: 10px;
  }
  
  .let-it-breathe {
    margin: 30px;
    padding: 20px;
  }

  .let-it-breathe-a-little {
    margin: 10px;
    padding: 20px;
  }

  .float-left {
    float: left;
  }

button {
  color: #6D0000;
  background-color: #E1E3BC;
  border: 2px solid #6D0000;
}

button:hover .menu-icon {
  border-top: 2px solid #E4E4BC;
  border-bottom: 2px solid #E4E4BC;
}
/*===========================================================================*/
                        /* ~~~ custom menu bar ~~~ */ 
/*===========================================================================*/

.menu-top { 
  background-color: #E1E3BC;
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
}

.menu-icon {
  display: inline-block;
  padding : 5px;
  border-top: 2px solid #6D0000;
  border-bottom: 2px solid #6D0000;
}

/*===========================================================================*/
                        /* ~~~ landing page (cust) ~~~ */ 
/*===========================================================================*/

  .landing-link {
    background-color: white;
    border: 2px dashed #C56616;
    border-radius: 10px;
    display: inline-block;
  }

  .landing-container {
    background-image : url(https://www.wallpaperup.com/uploads/wallpapers/2013/02/15/40517/3a90a29d9cc2fdd7bf7c0c26e17c7dd2.jpg);
    background-size: cover;
    /*height: 4000px;*/
  }

/*===========================================================================*/
                        /* ~~~ shop (ADMIN) ~~~ */ 
/*===========================================================================*/

.add-form-container {
  border: 2px dashed #6C0900;
  border-radius: 10px;
  background-color: #E4E4BC;
  color: #6C0900;
  padding: 2em;
  margin: 2em;
  text-align: left;
  width: 60%;
}

.field {
  border-radius: 5px;
  border: 1px solid #6C0900;
  display: block;
  font-family: 'Lato', sans-serif;
  margin: 1.5em;
  padding: 0.2em;
}

.textarea {
  height: 10vh;
  width: 90%;
}

.item-container {
  border: 3px dashed #6C0900;
  border-radius: 20px;
  display: inline-block;
  padding: 1.1em;
  margin: 20px;
  width: 45%;
}

.item-container h3, p {
  text-align: left;
}

.item-header {
  text-decoration: underline;
}

.item-detail {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}
/*===========================================================================*/
                        /* ~~~ customer shop ~~~ */ 
/*===========================================================================*/

.shop-img {
  border: 1px solid #6C0900;
  height: 200px;
  width: 200px;
}

.purchase-form-container {

  
}

/*===========================================================================*/
                        /* ~~~ login ~~~ */ 
/*===========================================================================*/

.login-form-container {
  display: inline-block;
  margin: 1.3em;
  width: 50%;
}

.positioning-div {
  text-align: left;
}

/*===========================================================================*/
                        /* ~~~ checkout page~~~ */ 
/*===========================================================================*/

.content-container {
  min-width: 830px;
  max-width: 1200px;
  margin: 0 auto;
}

.checkout-item-detail {
  display: inline-block;
  padding: 0 1.2em;
  width: 20%;
}

.checkout-item {
  display: inline-block;
  border: 2px solid black;
}

.table-container {
  text-align: center;
}

.table-row {
  width: 80%;
}

.table-headers {
  width: 25%;
}

.table-headers-queue {
  width: 20%;
}

.list {
  border: 2px solid black;
  /*BORDER RADIUS NOT WORKING FOR SOME REASON*/
  margin: 0 auto;
  min-width: 830px;
  max-width: 1200px;
  width: 80%;
}

.tbl-item-detail {
  border: 1px solid black;
  padding: 1em;
  position: relative;
}

.total-container {
  margin: 0 auto;
  padding: 1em;
  position: relative;
  width: 80%;
  text-align: right;
}

.remove-btn {
  font-size: 0.4em;
  margin-bottom: -0.2em;
}
.bill-form-container {
  margin: 0 auto;
  width: 80%;
  text-align: left;
}

.bill-form-label {
  display: inline-block;
  padding: 0.3em;
}

.bill-form-els {
  display: block;
  padding: 0.5em;
}

.bill-form-state {
  display: block;
  padding: 0.5em;
}


/*===========================================================================*/
                        /* ~~~ Overrides ~~~ */ 
/*===========================================================================*/

.not-orders {
  background-color: #D65947;
  font-family: 'Lato', sans-serif;
  padding: 1em;
  text-decoration: underline;
}

.big-btn {
  border-radius: 1000px;
  font-size: 2em;
  height: 9em;
  width: 9em;
}

.order-off {
  background-color: red;
  color: black;
}

.big-btn.order-off:hover {
  background-color: black;
  border: 5px solid red;
  color: red;
}


.big-btn.order-on:hover {
  background-color: black;
  border: 5px solid #69BD3C;
  color: #69BD3C;
}

.order-on {
  background-color: #69BD3C;
  color: black;
}

.status-header-on {
  background-color: black;
  border: 5px solid #69BD3C;
  color: #69BD3C;
}

.status-header-off {
  background-color: black;
  border: 5px solid red;
  color: red;
}

.status-header {
  display: inline-block;
  padding: 1em;
}

/*===========================================================================*/
                        /* ~~~ media queries ~~~ */ 
/*===========================================================================*/

@media (max-width: 1000px) {

  .item-container {
    width: 450px;
    margin: 3em auto;
  }
}














