h1 Recently Shipped
div(class='table-container')
  table(class='list')
    tr(class='table-row')
      th(class='table-headers')
        h2 Order ID:
      th(class='table-headers')
        h2 Name:
      th(class='table-headers')
        h2 Shipped on:
    tr(class='table-row', ng-repeat='customer in customers | orderBy : "-customer.timeFrom" : true | limitTo : 5 ', ng-if='customer.shipped')
      td(class='tbl-item-detail')
        {{customer._id}}
      td(class='tbl-item-detail')
        {{customer.name}}
      td(class='tbl-item-detail')
        {{customer.dateShipped}}
h1 On the stack
div(class='table-container')
    table(class='list')
      tr(class='table-row')
        th(class='table-headers-queue')
          h2 Order ID:
        th(class='table-headers-queue')
          h2 Name:
        th(class='table-headers-queue')
          h2 In-progress:
        th(class='table-headers-queue')
          h2 Complete:
        th(class='table-headers-queue')
          h2 Shipped:
      tr(class='table-row', ng-repeat='customer in customers', ng-if='!customer.shipped')
        td(class='tbl-item-detail') {{customer._id}}
        td(class='tbl-item-detail') {{customer.name}}
        td(class='tbl-item-detail', ng-model='customer.inProgress') 
          span(ng-if='customer.inProgress') Started
          button(ng-click='inProg(customer)', ng-if='!customer.inProgress') Starting Now!
        td(class='tbl-item-detail')
          span(ng-if='customer.complete') COMPLETE!
          button(ng-click='completed(customer)', ng-if='!customer.complete') Finished!
        td(class='tbl-item-detail')
          span(ng-if='customer.shipped') SHIPPED!
          button(ng-click='shipped(customer)', ng-if='!customer.shipped') SHIPPED!


























