h1 ADMIN CONTROLS THE ORDER LIST FROM HERE!
div(class='spacer-small')
h1(class='table-title') Recently Shipped
div(class='table-container')
  table(class='list recent-shipped-list')
    tr(class='table-row')
      th(class='table-headers ship-list-detail')
        h3 Order ID:
      th(class='table-headers ship-list-detail')
        h3 Name:
      th(class='table-headers ship-list-detail')
        h3 Shipped on:
    tr(class='table-row', ng-repeat='customer in customers | orderBy : "timeFrom" : true | limitTo : 5 ', ng-if='customer.shipped')
      td(class='ship-list-detail') {{customer._id.substring(12, 24)}}
      td(class='ship-list-detail') {{customer.firstName}} {{customer.lastName.substring(0,1)}}.
      td(class='ship-list-detail') {{customer.dateShipped}}
h1(class='table-title') On the stack
div(class='table-container')
    table(class='list')
      tr(class='table-row')
        th(class='table-headers-queue')
          h3 Order ID:
        th(class='table-headers-queue')
          h3 Name:
        th(class='table-headers-queue')
          h3 In-progress:
        th(class='table-headers-queue')
          h3 Complete:
        th(class='table-headers-queue')
          h3 Shipped:
      tr(class='table-row', ng-repeat='customer in customers', ng-if='!customer.shipped')
        td(class='tbl-item-detail') {{customer._id.substring(12, 24)}}
        td(class='tbl-item-detail') {{customer.firstName}} {{customer.lastName.substring(0,1)}}.
        td(class='tbl-item-detail') 
          span(class='stage-complete', ng-if='customer.inProgress') Started
          button(class='update-btn', ng-click='inProg(customer)', ng-if='!customer.inProgress') Starting!
        td(class='tbl-item-detail')
          span(class='stage-complete', ng-if='customer.complete') Complete!
          button(class='update-btn', ng-click='completed(customer)', ng-if='!customer.complete') Finished!
        td(class='tbl-item-detail')
          span(class='stage-complete', ng-if='customer.shipped') Shipped!
          button(class='update-btn', ng-click='shipped(customer)', ng-if='!customer.shipped') SHIPPED!