div(class='spacer')
  p(class='inline-block') ---------- Under Construction ----------
  h1 FUTURE HISTORY PAGE FOR THE ADMIN
  p Will contain full database of all orders ever created/shipped/refunded
  p Sortable by name/order id/type(rack or art)