div(class='content-container')
  h1 Checkout Page
  div(class='table-container')
    table(class='cart-list')
      tr(class='table-row')
        th(class='table-headers')
          h2 Item
        th(class='table-headers')
          h2 Price
        th(class='table-headers')
          h2 Quantity
        th(class='table-headers')
          h2 Item Total
      tr(class='table-row', ng-repeat='item in currentCart')
        td(class='tbl-item-detail') {{item.item.name}}
        td(class='tbl-item-detail') ${{item.item.price}}.00
        td(class='tbl-item-detail') {{item.quantity}}
        td(class='tbl-item-detail') ${{item.item.price * item.quantity}}.00
          button(class='remove-btn', ng-click='removeItem( item.item )', ng-show='!showCheckoutForm') Remove from cart

  div(class='total-container')
    h2 Current Total Price : ${{currentTotal}}.00
    h4(ng-show='!showCheckoutForm', ng-hide='currentCart.length === 0') Continue Checkout with Stripe
    button(class='stripe-checkout', ng-click='showCheckoutForm = true', ng-hide='currentCart.length === 0', ng-show='!showCheckoutForm') Continue
    button(class='stripe-checkout', ng-click='showCheckoutForm = false', ng-show='showCheckoutForm') Cancel
    a(ng-href='/#/', ng-show='currentCart.length === 0') 
      button Take me home!

  div(class='bill-form-container', ng-if='showCheckoutForm')
    form(ng-submit='addCustomer( customer )')
      label(class='bill-form-label') Name: 
      input(class='bill-form-els', type="text", ng-model='customer.name')
      label(class='bill-form-label') E-mail Address: 
      input(class='bill-form-els', type="text", ng-model='customer.email')
      label(class='bill-form-label') Phone Number: 
      input(class='bill-form-els', type="text", ng-model='customer.phone')
      hr
      label(class='bill-form-label') Billing Address 1:
      input(class='bill-form-els', type="text", ng-model='customer.billAddress.street1')
      label(class='bill-form-label') Billing Address 2:
      input(class='bill-form-els', type="text", ng-model='customer.billAddress.street2')
      label(class='bill-form-label') City:
      input(class='bill-form-els', type="text", ng-model='customer.billAddress.city')
      label(class='bill-form-label') State:
      input(class='bill-form-state', size='2', type="text", ng-model='customer.billAddress.state')
      label(class='bill-form-label') Zip-Code:
      input(class='bill-form-els', type="text", ng-model='customer.billAddress.zip')

      span Shipping address same as billing address : 
      input(type='checkbox', ng-model='shipSameAsBill', ng-init='shipSameAsBill = true')
      hr
      label(class='bill-form-label block', ng-show='!shipSameAsBill') Shipping Address 1:
      input(class='bill-form-els', type="text", ng-model='customer.shipAddress.street1', ng-show='!shipSameAsBill')
      label(class='bill-form-label', ng-show='!shipSameAsBill') Shipping Address 2:
      input(class='bill-form-els', type="text", ng-model='customer.shipAddress.street2', ng-show='!shipSameAsBill')
      label(class='bill-form-label', ng-show='!shipSameAsBill') City:
      input(class='bill-form-els', type="text", ng-model='customer.shipAddress.city', ng-show='!shipSameAsBill')
      label(class='bill-form-label', ng-show='!shipSameAsBill') State:
      input(class='bill-form-state', size='2', type="text", ng-model='customer.shipAddress.state', ng-show='!shipSameAsBill')
      label(class='bill-form-label', ng-show='!shipSameAsBill') Zip-Code:
      input(class='bill-form-els', type="text", ng-model='customer.shipAddress.zip', ng-show='!shipSameAsBill')

      button(class='bill-form-els', type='submit', ng-click='customer.paid = true') Continue
















