a(class='cart-btn', ng-href='/#/checkout')
  button(ng-if='currentTotal > 0') Cart --> ${{currentTotal}}

div(class='container big-wrapper main-container clearfix')
  div(class='shop-header')
    h1 CUSTOMER SHOP


  div(class='item-container', ng-repeat='item in items', ng-if='item.forSale')
    h3 {{item.name}}
    img(class='shop-img' ng-src="{{item.image}}", alt="image")
    p Description: {{item.description}}
    p Price: {{item.price}}
    button(ng-click='showForm( item.name, item, 1 )', ng-show='beenOrdered( item ) === -1') BUY IT NOW!

    div(id='item.name', class='purchase-form-container', ng-if='currentItemForm === item.name')
      form(class='purchase-form', ng-submit='addToCart( item, howMany )')
        span(ng-show='showme') How many would you like to order?
        input(ng-model='howMany', size='2', ng-show='showme')
        div(class='btn-container', ng-show='showme')
          button(type='submit', ng-click='showme = false') Add to cart!
          button(ng-click='showForm(null)', ng-show='showme') LOL JK!
    span(ng-hide='beenOrdered( item ) === -1') Currently in your cart

    //- button(ng-click='logCart()') log the cart