button(class='cart-btn', ng-if='currentTotal > 0') Cart --> ${{currentTotal}}

div(class='container big-wrapper main-container landing-container clearfix')
    h1(class='') Welcome to the shoe factory!
    h4(class='let-it-breathe') Cameron makes and sells high quality horseshoe art and wine racks with his bare hands!
    div(class='container landing-link-container')
      a(class='landing-link let-it-breathe', href='/#/')
        p Check out the gallery!
    div(class='container landing-link-container')
      a(class='landing-link let-it-breathe', href='/#/about')
        p Learn about the process
    div(class='container landing-link-container')
      a(class='landing-link let-it-breathe', href='/#/shop')
        h2 Check out the shop!
  
















