a(ng-href='/#/checkout')
  button(class='cart-btn', ng-if='currentTotal > 0') Cart --> ${{currentTotal}}
  
div(class='spacer')
  p(class='inline-block') ---------- Under Construction ----------
  h1 FUTURE 'PORTFOLIO' PAGE WILL BE HERE
